.DS_Store
*.lck
/VIAGRID BLANK FILES/6034 STANDARD/KICAD/viagrid_6034_template/6034_template-backups
VIAGRID BLANK FILES/6034 STANDARD/KICAD/viagrid_6034_template/6034.zip
/VIAGRID BLANK FILES/9055 STANDARD/KICAD/MANUFACTURING/viagrid-backups
